<!-- your html code here -->
<!--
<div class="row bg-light shadow-sm px-4 py-5">
    <div class="col-7">
        <h2>The First Heading <span class="h2 text-secondary">Will Catch Your Eye</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Magni odit sed molestiae et eaque eos laudantium numquam asperiores dolores libero quos, 
         repellendus nam iusto saepe dolor eligendi sunt pariatur amet!</p>
    </div>

    <div class="col-4">
        <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/breaking-bad-amc-heisenberg-walter-white-portrait-black-and-white-paul-telling.jpg" class="rounded-circle" style="width: 400px; height: 400px;" alt="">
    </div>
</div>-->

<div class="container-fluid bg-light shadow-sm px-3 py-5 mx-0 d-flex justify-content-around">
    <div class="ms-4 w-50">
        <h2>The First Heading <span class="h2 text-secondary">Will Catch Your Eye</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Magni odit sed molestiae et eaque eos laudantium numquam asperiores dolores libero quos, 
            repellendus nam iusto saepe dolor eligendi sunt pariatur amet!
        </p>
    </div>
    
    <div class="ms-2">
        <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/breaking-bad-amc-heisenberg-walter-white-portrait-black-and-white-paul-telling.jpg" class="rounded-circle" style="width: 400px; height: 400px;" alt="">
    </div>
</div>