<!-- your html code here -->
<p>Hello, I'm the portfolio.html</p>


<div class="container d-flex row mx-auto">

    <div class="card m-2" style="width: 18rem;">
    <img class="card-img-top" src="https://picsum.photos/700/400" alt="Card image cap 1">
    <div class="card-body">
        <h5 class="card-title">Proyecto 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>    

    <div class="card m-2" style="width: 18rem;">
    <img class="card-img-top" src="https://picsum.photos/700/400" alt="Card image cap 2">
    <div class="card-body">
        <h5 class="card-title">Proyecto 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>

    <div class="card m-2" style="width: 18rem;">
    <img class="card-img-top" src="https://picsum.photos/700/400" alt="Card image cap 3">
    <div class="card-body">
        <h5 class="card-title">Proyecto 3</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>    

</div>