<!-- your html code here -->
<div class="shadow-sm" style="background-color: white;">
    
    
        <div class="container px-3 py-5 d-flex justify-content-center">
            <div>
                <img src="assets/img/2.jpg" class="rounded-circle" style="width: 300px; height: 300px;" alt="">
            </div>
        
            <div class="ms-4">
                <h2>The Second Heading <span class="h2 text-secondary">Is Pretty Cool Too</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Magni odit sed molestiae et eaque eos laudantium numquam asperiores dolores libero quos, 
                    repellendus nam iusto saepe dolor eligendi sunt pariatur amet!
                </p>
            </div>
        </div>
       

</div>

